/*

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li {
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  margin: 8px;
}

li a {
  color: #666;
  padding: 20px 16px;
  text-decoration: none;
}
*/
.navbar-default {
  background-color: green;

}

section {
  min-height: 800px;
  text-align: center;
  padding-top: 100px;
}
