nav {
  background-color: #76ff03;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav ul {
  margin: 30;
  padding: 30;
  list-style-type: none;
}
.active {
  color: white;
}
ul{
  border: none;
} 
li {
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
}
li a {
  color: #666;
  padding: 20px 16px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace
}

section {
  max-height: 800px;
  max-width: 800px;
  text-align: justify;
  padding-top: 50px;
  padding-bottom: 50px;
}