nav {
  background-color: rgba(156,217,107,0.90);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  margin: 30;
  padding: 30;
  list-style-type: none;
}

li {
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  margin: 8px;
}

li a {
  color: #666;
  padding: 20px 16px;
  text-decoration: none;
}

section {
  max-height: 800px;
  text-align: center;
  padding-top: 100px;
}